:root {
  // University colors
  --dark-blue: #00467f;
  --light-blue: #009ac7;
  --silver: #8d9091;

  // Secondary colors
  --dark-grey: #333333;
  --mid-grey: #404040;
  --body-grey: #4a4a4c;
  --silver-lining: #bec3c4;
  --input-grey: #d9d9d9;
  --light-grey: #f2f2f2;
  --light-blue: #0080a7;

  // Faculty colors
  --arts: #a71930;
  --business-school: #7d0063;
  --creative-arts-and-industries: #d2492a;
  --education-and-social-work: #55a51c;
  --engineering: #4f2d7f;
  --auckland-law-school: #005b82;
  --medical-health-sciences: #00877c;
  --science: #0039a6;
  --geneds: #eaab00;

  --success: #55a51c;
  --warning: #d2492a;
  --danger: #a71930;
}
