.Select {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1rem;
}

.Select__label {
  color: #404040;
  display: block;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

.Select__select-container {
  position: relative;
}

.Select__select {
  appearance: none;
  background: #fff;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M20%204.1v2.3l-10%209.5L0%206.4V4.1l10%209.2%2010-9.2z%22%2F%3E%3C%2Fsvg%3E);
  background-position: calc(100% - 1rem);
  background-repeat: no-repeat;
  background-size: 0.85rem 0.85rem;
  border-radius: 0;
  border: 1px solid #bec3c4;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 0.5rem;
  padding-right: 2.5rem;
  transition: 0.2s border;
  width: 100%;
  cursor: pointer;
}

.Select__select:focus {
  border-color: #0080a7;
}

.Select__select:hover {
  border-color: #0080a7;
}

.Select__select:disabled {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  color: #bfbfbf;
  cursor: not-allowed;
}
