.Requirements__lines {
  padding-left: 2rem;
}

.Requirements__title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  @media print {
    margin-bottom: 0.5rem;
  }
}

.Requirements__icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  display: flex;

  .Requirements--incomplete & {
    color: var(--danger);
  }

  .Requirements--complete & {
    color: var(--dark-blue);
  }
}
